USE [BANK]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 11/24/2021 11:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMPLOYEE_NUMBER] [varchar](10) NOT NULL,
	[LAST_NAME] [varchar](25) NULL,
	[FIRST_NAME] [varchar](25) NULL,
	[EXTENSION] [varchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[OFFICE_CODE] [varchar](10) NULL,
	[REPORTS_TO] [varchar](50) NULL,
	[JOB_TITLE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_NUMBER], [LAST_NAME], [FIRST_NAME], [EXTENSION], [EMAIL], [OFFICE_CODE], [REPORTS_TO], [JOB_TITLE]) VALUES (N'EM820001', N'Yosianus', N'Antonio', N'789', N'@ocbc.com', N'OC001', N'IT MANAGEMENT', N'Software Engineer')
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_NUMBER], [LAST_NAME], [FIRST_NAME], [EXTENSION], [EMAIL], [OFFICE_CODE], [REPORTS_TO], [JOB_TITLE]) VALUES (N'EM820002', N'Yeftanus ', N'Antonio', N'789', N'@ocbc.com', N'OC002', N'IT MANAGEMENT', N'Software Engineer')
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_NUMBER], [LAST_NAME], [FIRST_NAME], [EXTENSION], [EMAIL], [OFFICE_CODE], [REPORTS_TO], [JOB_TITLE]) VALUES (N'EM820003', N'Riska', N'Antonio', N'789', N'@ocbc.com', N'OC001', N'IT MANAGEMENT', N'Software Engineer')
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_OFFICES] FOREIGN KEY([OFFICE_CODE])
REFERENCES [dbo].[OFFICES] ([OFFICE_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_OFFICES]
GO
