USE [BANK]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 11/24/2021 11:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDER_NUMBER] [varchar](10) NOT NULL,
	[ORDER_DATE] [date] NULL,
	[REQUIRED_DATE] [date] NULL,
	[SHIPPED_DATE] [date] NULL,
	[STATUS] [varchar](10) NULL,
	[COMMETS] [text] NULL,
	[COSTUMER_NUMBER] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ORDERS] ([ORDER_NUMBER], [ORDER_DATE], [REQUIRED_DATE], [SHIPPED_DATE], [STATUS], [COMMETS], [COSTUMER_NUMBER]) VALUES (N'ON001', CAST(N'2021-11-01' AS Date), CAST(N'2021-11-02' AS Date), CAST(N'2021-11-03' AS Date), N'GR', N'NOPE', N'CM001')
INSERT [dbo].[ORDERS] ([ORDER_NUMBER], [ORDER_DATE], [REQUIRED_DATE], [SHIPPED_DATE], [STATUS], [COMMETS], [COSTUMER_NUMBER]) VALUES (N'ON002', CAST(N'2021-11-02' AS Date), CAST(N'2021-11-03' AS Date), CAST(N'2021-11-04' AS Date), N'GR', N'NOPE', N'CM002')
INSERT [dbo].[ORDERS] ([ORDER_NUMBER], [ORDER_DATE], [REQUIRED_DATE], [SHIPPED_DATE], [STATUS], [COMMETS], [COSTUMER_NUMBER]) VALUES (N'ON003', CAST(N'2021-11-03' AS Date), CAST(N'2021-11-04' AS Date), CAST(N'2021-11-05' AS Date), N'GR', N'NOPE', N'CM003')
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_CUSTOMERS] FOREIGN KEY([COSTUMER_NUMBER])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_NUMBER])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_CUSTOMERS]
GO
