USE [BANK]
GO
/****** Object:  Table [dbo].[ORDER_DETAILS]    Script Date: 11/24/2021 11:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAILS](
	[ORDER_NUMBER] [varchar](10) NULL,
	[PRODUCT_CODE] [varchar](10) NULL,
	[QUANTITY_ORDERED] [int] NULL,
	[PRICE_EACH] [int] NULL,
	[ORDER_LINE_NUMBER] [varchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ORDER_DETAILS] ([ORDER_NUMBER], [PRODUCT_CODE], [QUANTITY_ORDERED], [PRICE_EACH], [ORDER_LINE_NUMBER]) VALUES (N'ON001', N'PC001', 1, 151400000, N'2')
INSERT [dbo].[ORDER_DETAILS] ([ORDER_NUMBER], [PRODUCT_CODE], [QUANTITY_ORDERED], [PRICE_EACH], [ORDER_LINE_NUMBER]) VALUES (N'ON002', N'PC002', 1, 151400000, N'2')
INSERT [dbo].[ORDER_DETAILS] ([ORDER_NUMBER], [PRODUCT_CODE], [QUANTITY_ORDERED], [PRICE_EACH], [ORDER_LINE_NUMBER]) VALUES (N'ON003', N'PC003', 1, 191400000, N'2')
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_ORDERS] FOREIGN KEY([ORDER_NUMBER])
REFERENCES [dbo].[ORDERS] ([ORDER_NUMBER])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [FK_ORDER_DETAILS_ORDERS]
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_PRODUCTS_MBL] FOREIGN KEY([PRODUCT_CODE])
REFERENCES [dbo].[PRODUCTS_MBL] ([PRODUCT_CODE])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [FK_ORDER_DETAILS_PRODUCTS_MBL]
GO
