USE [BANK]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 11/24/2021 11:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CUSTOMER_NUMBER] [varchar](10) NOT NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[CONTACT_LAST_NAME] [varchar](25) NULL,
	[CONTACT_FIRST_NAME] [varchar](25) NULL,
	[ADDRESS_LINE1] [varchar](50) NULL,
	[ADDRESS_LINE2] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[POSTAL_CODE] [varchar](10) NULL,
	[COUNTRY] [varchar](20) NULL,
	[SALES_REP_EMPLOYEE_NUMBER] [varchar](10) NULL,
	[CREDIT_LIMIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CUSTOMERS] ([CUSTOMER_NUMBER], [CUSTOMER_NAME], [CONTACT_LAST_NAME], [CONTACT_FIRST_NAME], [ADDRESS_LINE1], [ADDRESS_LINE2], [CITY], [STATE], [POSTAL_CODE], [COUNTRY], [SALES_REP_EMPLOYEE_NUMBER], [CREDIT_LIMIT]) VALUES (N'CM001', N'Yosianus Antonio', N'Yosianus', N'Antonio', N'Kel Baros', N'Kec Kotaagung', N'Lampung', N'Tanggamus', N'34241', N'Indonesia', N'SR001', 50000000)
INSERT [dbo].[CUSTOMERS] ([CUSTOMER_NUMBER], [CUSTOMER_NAME], [CONTACT_LAST_NAME], [CONTACT_FIRST_NAME], [ADDRESS_LINE1], [ADDRESS_LINE2], [CITY], [STATE], [POSTAL_CODE], [COUNTRY], [SALES_REP_EMPLOYEE_NUMBER], [CREDIT_LIMIT]) VALUES (N'CM002', N'Albert Salim', N'Albert Salim', N'Antonio', N'Kel Wayhalim', N'Kec jagabaya III', N'Lampung', N'Bandar Lampung', N'34241', N'Indonesia', N'SR005', 50000000)
INSERT [dbo].[CUSTOMERS] ([CUSTOMER_NUMBER], [CUSTOMER_NAME], [CONTACT_LAST_NAME], [CONTACT_FIRST_NAME], [ADDRESS_LINE1], [ADDRESS_LINE2], [CITY], [STATE], [POSTAL_CODE], [COUNTRY], [SALES_REP_EMPLOYEE_NUMBER], [CREDIT_LIMIT]) VALUES (N'CM003', N'Yeftanus Antonio', N'Yeftanus', N'Antonio', N'Kel Baros', N'Kec Kotaagung', N'Lampung', N'Tanggamus', N'33782', N'Indonesia', N'SR001', 100000000)
GO
